<div class="footer-callout">
</div>
<footer id="colophon" class="site-footer footer bg-dark" role="contentinfo">
    <div class="container footer-inner">
        <div class="row">
        </div>
        <div class="row">
            <div class="site-info col-sm-6">
                <div class="copyright-text">
                </div>
                <div class="footer-credits">
                    © 2019 Neo Infracon Ltd. 
                </div>
            </div>
            <div class="col-sm-6 text-right">
                <nav id="social" class="social-icons">
                    <ul id="menu-social-items" class="list-inline social-list">
                        <li id="menu-item-1893"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1893"><a
                                href="https://www.facebook.com/NeoInfraconLtd/"><i
                                    class="social_icon fa"><span>Facebook</span></i></a></li>
                        <!-- <li id="menu-item-1894"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1894"><a
                                href="https://twitter.com/"><i
                                    class="social_icon fa"><span>Twitter</span></i></a></li> -->
                        <li id="menu-item-1895"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1895"><a
                                href="https://www.linkedin.com/company/neo-infraconltd"><i
                                    class="social_icon fa"><span>Linkedin</span></i></a></li>
                        <!-- <li id="menu-item-1923"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1923"><a
                                href="https://youtube.com/c/"><i
                                    class="social_icon fa"><span>Youtube</span></i></a></li> -->
                        <!-- <li id="menu-item-1924"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1924"><a
                                href="https://www.instagram.com//"><i
                                    class="social_icon fa"><span>Instagram</span></i></a></li> -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <a class="btn btn-sm fade-half back-to-top inner-link" href="#top"><i class="fa fa-angle-up"></i></a>

</footer>
</div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        if ($(window).width() >= 767) {
            $('.navbar-nav > li.menu-item > a').click(function () {
                window.location = $(this).attr('href');
            });
        }
    });
</script>
<script type="text/javascript"
    src="https://149842022.v2.pressablecdn.com/shapely/wp-content/plugins/contact-form-7/includes/swv/js/index.js?ver=5.8"
    id="swv-js"></script>
<script type="text/javascript" id="contact-form-7-js-extra">
    /* <![CDATA[ */
    var wpcf7 = { "api": { "root": "https:\/\/colorlibhub.com\/shapely\/wp-json\/", "namespace": "contact-form-7\/v1" }, "cached": "1" };
    /* ]]> */
</script>
<script type="text/javascript"
    src="https://149842022.v2.pressablecdn.com/shapely/wp-content/plugins/contact-form-7/includes/js/index.js?ver=5.8"
    id="contact-form-7-js"></script>
<script type="text/javascript"
    src="https://149842022.v2.pressablecdn.com/shapely/wp-content/themes/shapely/assets/js/skip-link-focus-fix.js?ver=20160115"
    id="shapely-skip-link-focus-fix-js"></script>
<script type="text/javascript"
    src="https://149842022.v2.pressablecdn.com/shapely/wp-includes/js/imagesloaded.min.js?ver=5.0.0"
    id="imagesloaded-js"></script>
<script type="text/javascript"
    src="https://149842022.v2.pressablecdn.com/shapely/wp-includes/js/masonry.min.js?ver=4.2.2"
    id="masonry-js"></script>
<script type="text/javascript"
    src="https://149842022.v2.pressablecdn.com/shapely/wp-includes/js/jquery/jquery.masonry.min.js?ver=3.1.2b"
    id="jquery-masonry-js"></script>
<script type="text/javascript"
    src="https://149842022.v2.pressablecdn.com/shapely/wp-content/themes/shapely/assets/js/flexslider.min.js?ver=20160222"
    id="flexslider-js"></script>
<script type="text/javascript"
    src="https://149842022.v2.pressablecdn.com/shapely/wp-content/themes/shapely/assets/js/parallax.min.js?ver=20160115"
    id="shapely-parallax-js"></script>
<script type="text/javascript"
    src="https://149842022.v2.pressablecdn.com/shapely/wp-content/themes/shapely/assets/js/owl-carousel/owl.carousel.min.js?ver=20160115"
    id="owl.carousel-js"></script>
<script type="text/javascript" id="shapely-scripts-js-extra">
    /* <![CDATA[ */
    var ShapelyAdminObject = { "sticky_header": "1" };
    /* ]]> */
</script>
<script type="text/javascript"
    src="https://149842022.v2.pressablecdn.com/shapely/wp-content/themes/shapely/assets/js/shapely-scripts.js?ver=20180423"
    id="shapely-scripts-js"></script>
<script type="text/javascript" src="https://stats.wp.com/e-202422.js" id="jetpack-stats-js"
    data-wp-strategy="defer"></script>
<script type="text/javascript" id="jetpack-stats-js-after">
    /* <![CDATA[ */
    _stq = window._stq || [];
    _stq.push(["view", JSON.parse("{\"v\":\"ext\",\"blog\":\"191685220\",\"post\":\"1863\",\"tz\":\"0\",\"srv\":\"colorlibhub.com\",\"hp\":\"atomic\",\"ac\":\"3\",\"amp\":\"0\",\"j\":\"1:13.5-a.5\"}")]);
    _stq.push(["clickTrackerInit", "191685220", "1863"]);
    /* ]]> */
</script>
<script>window.GA_ID = 'G-SEKJ4E9T4H'</script>
<script src="https://149842022.v2.pressablecdn.com/shapely/wp-content/plugins/flying-analytics/js/gtagv4.js"
    defer></script>
<script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-SEKJ4E9T4H');</script>
<script type="text/javascript">
    (function () {
        var t = document.createElement('script');
        t.type = 'text/javascript';
        t.async = true;
        t.id = 'gauges-tracker';
        t.setAttribute('data-site-id', '6334f864320b4e322bf8408a');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
    })();
</script>
<script type="text/javascript" src="/web-assets/js/common.js"></script>
</body>

</html>