<div id="page" class="site">
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
    <header id="masthead" class="site-header" role="banner">
        <div class="nav-container">
            <nav id="site-navigation" class="main-navigation" role="navigation">
                <div class="container nav-bar">
                    <div class="flex-row">
                        <div class="module left site-title-container">
                            <a href="/" class="custom-logo-link">
                                <span class="site-title">
                                    <img src="/web-assets/logo/logo.png" alt="">
                                </span>
                            </a>
                        </div>
                        <button class="module widget-handle mobile-toggle right visible-sm visible-xs">
                            <i class="fa fa-bars"></i>
                        </button>
                        <div class="module-group right module-menu">
                            <div class="module left">
                                <div class="collapse navbar-collapse navbar-ex1-collapse">
                                    <ul id="menu" class="menu">
                                        <li id="menu-item-1636"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1636 active">
                                            <a title="Home" href="/">Home</a></li>
                                        <li id="menu-item-1637"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1637">
                                            <a title="Blog" href="/about-us">About Us</a></li>
                                        <li id="menu-item-1847"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1847">
                                            <a title="Portfolio"
                                                href="/project">Projects</a></li>
                                        <li id="menu-item-1639"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1639">
                                            <a title="About The Tests"
                                                href="/board-of-director">Board Of Director</a>
                                        </li>
                                        <li id="menu-item-1643"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1643 dropdown">
                                            <a title="Level 1" href="/investor-relation/notices">Investor Relation
                                            </a><span class="dropdown-toggle shapely-dropdown" data-toggle="dropdown"><i
                                                    class="fa fa-angle-down" aria-hidden="true"></i></span>
                                            <ul role="menu" class=" dropdown-menu">
                                                <li id="menu-item-1701"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1701">
                                                    <a title="Level 2"
                                                        href="/investor-relation/notices">Notices
                                                    </a>
                                                </li>
                                                <li id="menu-item-1701"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1701">
                                                    <a title="Level 2a"
                                                        href="/investor-relation/annual-reports">Annual Reports</a>
                                                </li>
                                                <li id="menu-item-1702"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1702">
                                                    <a title="Level 2b"
                                                        href="/investor-relation/financial-results">Financial Results</a>
                                                </li>
                                                <li id="menu-item-1702"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1702">
                                                    <a title="Level 2b"
                                                        href="/investor-relation/share-holders">Share Holders Info</a>
                                                </li>
                                                <li id="menu-item-1702"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1702">
                                                    <a title="Level 2b"
                                                        href="/investor-relation/policies">Policies</a>
                                                </li>
                                                <li id="menu-item-1702"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1702">
                                                    <a title="Level 2b"
                                                        href="/investor-relation/stock-exchange-compliances">Stock Exchange Compliances</a>
                                                </li>
                                                <li id="menu-item-1702"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1702">
                                                    <a title="Level 2b"
                                                        href="/investor-relation/notice-of-agm">Notice of AGM</a>
                                                </li>
                                                <li id="menu-item-1702"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1702">
                                                    <a title="Level 2b"
                                                        href="/investor-relation/annual-return">Annual Return</a>
                                                </li>
                                                <li id="menu-item-1702"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1702">
                                                    <a title="Level 2b"
                                                        href="/investor-relation/voting-result">Voting Result</a>
                                                </li>
                                                <li id="menu-item-1702"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1702">
                                                    <a title="Level 2b"
                                                        href="/investor-relation/financial-statement-subsidiary">Financial Statement Subsidiary</a>
                                                </li>
                                                <li id="menu-item-1702"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1702">
                                                    <a title="Level 2b"
                                                        href="/investor-relation/investor-grievance">Investor Grievance</a>
                                                </li>
                                                <li id="menu-item-1702"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1702">
                                                    <a title="Level 2b"
                                                        href="/investor-relation/sebi-circular">SEBI Circular</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-1885"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1885">
                                            <a title="Shop" href="/contact-us">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="module widget-handle search-widget-handle hidden-xs hidden-sm">
                                <button class="search">
                                    <i class="fa fa-search"></i>
                                    <span class="title">Site Search</span>
                                </button>
                                <div class="function">
                                    <form role="search" method="get" id="searchform" class="search-form"
                                        action="https://colorlibhub.com/shapely/">
                                        <label class="screen-reader-text" for="s">Search for:</label>
                                        <input type="text" placeholder="Type Here" value name="s" id="s" />
                                        <button type="submit" class="searchsubmit"><i class="fa fa-search"
                                                aria-hidden="true"></i><span
                                                class="screen-reader-text">Search</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </header>