<div class="header-callout">
    <section class="page-title-section bg-secondary ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="page-title">
                        <%- header %>
                    </h3>
                </div>
            </div>

        </div>

    </section>
</div>


<section class="content-area ">
    <div id="main" class="container" role="main">
        <div class="row">
            <div id="primary" class="col-md-12 mb-xs-24 sidebar-right">
                <article id="post-1133" class="post-1133 page type-page status-publish hentry">
                    <br>
                    <header class="entry-header">
                        <h2 class="entry-title"><%- title %></h2>
                    </header>
                    <div class="entry-content">

                        <div>

                            <%- content; %>

                        </div>

                    </div>
                    <footer class="entry-footer">
                    </footer>
                </article>
            </div>
        </div>
    </div>
</section>